# Database
DATABASE_PROVIDER=sqlite
DATABASE_URL=file:./dev.db

# Next Auth
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000

# DeepSeek API
DEEPSEEK_API_KEY=

# Judge0
JUDGE0_API_URL=http://localhost:2358
JUDGE0_API_KEY=

# Email (for password reset)
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
EMAIL_FROM=